{% extends "ikisaki/base.html" %}
{% block title %}スポット検索{% endblock %}
{% block content %}
	<table>
		<tr>
			<th style="width:150px; text-align:left;">スポット名</th>
			<th style="width:100px; text-align:left;">ジャンル</th>
			<th style="width:100px; text-align:left;">タグ</th>
			<th style="width:200px; text-align:left;">画像</th>
			<th style="width:10px; text-align:left;"></th>
			<th style="width:300px; text-align:left;">紹介文</th>
			<th style="width:80px; text-align:left;">URL</th>
		</tr>
		{% for spot in spots %}
		<tr>
			<td><a href="{{url_for('ikisaki.spot_detail', spot_id=spot.id)}}">{{spot.name}}</a></td>
			<td>{{config["SPOT_LIST"].get(spot.genre_id)}}</td>
			<td>
			{% for t in spot.tags %}
				{{ t.tag }}{% if not loop.last %}, {% endif %}
			{% endfor %}
			</td>

			<td>
			{% if spot.pictures %}
				<img src="{{ config['UPLOAD_URL'] }}{{ spot.pictures[0].url }}" width="450">
			{% endif %}
			</td>
			<th style="width:10px; text-align:left;"></th>
			<td>{{spot.introduction}}</td>
			<td>{% if spot.url %}<a href="{{ spot.url }}" target="_blank">■</a>{% endif %}</td>
		</tr>
		{% endfor %}
	</table>



{% endblock %}
