<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div class="register-container">
        <h1>新規登録</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <form action="/register" method="POST">
            <label for="user_id">ID</label>
            <input type="text" id="user_id" name="user_id" required>

            <label for="password">パスワード</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">登録する</button>
        </form>
        <div class="login-link">
            <a href="/login">ログイン画面へ戻る</a>
        </div>
        <hr>

        <h2>登録済みユーザー一覧</h2>
        <ul>
          {% for user in users %}
            <li>{{ user.user_id }}</li>
          {% endfor %}
        </ul>

    </div>
</body>
</html>